
create or replace function get_total_org_sevaks(org_id uuid)
returns integer
language sql
security definer
as \$\$
  select count(*)::integer
  from profiles
  where organization_id = org_id
    and role = 'sevak'
    and is_active = true;
\$\$;

